{% set min_chars = config.get('plugins.simplesearch.min_query_length', 3) %}
<div class="search-wrapper">
    <form name="search" data-simplesearch-form>
        <input
            name="query"
            class="search-input"
            type="text"
            {% if min_chars > 0 %} min="{{- min_chars -}}" {% endif %}
            required
            placeholder="{{"PLUGIN_SIMPLESEARCH.SEARCH_PLACEHOLDER"|t}}" {# //placeholder text #}
            value="{{ query }}" {# // query value #}
            data-search-invalid="{{ "PLUGIN_SIMPLESEARCH.SEARCH_FIELD_MINIMUM_CHARACTERS"|t(min_chars)|raw }}"
            data-search-separator="search"
            data-search-input="search"
        />

            <button type="submit" class="search-submit">
                <img src="{{ url('plugin://simplesearch/assets/search.svg') }}" />

    </form>
</div>
